@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Football team</h1>
  </div>

<div class="row">
    <div class="col-md-4">
        <h2>Football team</h2>
        
        <p><a class="btn btn-default" href="http://localhost:56500/FootballTeam/Create">Add Footbal team &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Players</h2>
   
        <p><a class="btn btn-default" href="http://localhost:56500/Players/Create">Add Players &raquo;</a></p>
    </div>
   
</div>